<div class="container">
  <h1>Welcome, <%= session[:first_name] %>!</h1>

  <form action="/users/profile_page" method="post">
    Enter url: <input type="text" name="long_url">
                     <input type="submit" value="Shorten!">
  </form>

  <br>

  <% if @message %>
    <p style='color:red'><%=@message%></p>
  <% end %>

  <br>

  <table border="1" cellpadding="10">
    <tr>
      <th>Link</th>
      <th>Visits</th>
    </tr>
    <% @urls.sort_by! { |url| url.click_count } %>
    <% @urls.reverse_each do |url| %>
    <tr>
      <td><a href='<%=url.short_url %>'><%= url.short_url %></a></td>
      <td><%= url.click_count %></td>
    </tr>
    <% end %>
  </table>

<br>

<form action="/sessions/logout" method="post">
  <input type="submit" value="Log out!">
</form>


</div>